@use "../foundation/variables" as v;

.l-footer{
	position: relative;
	width: 100%;
	background-color: v.$shadow-cBlue;
	padding: 20px 5%;
}

.l-footer__logo{
	width: 18%;
}



.l-footer__nav{
	position: absolute;
	bottom: 20px;
	left: 5%;
}


.l-footer__menu{
	&__item{
		font-size:3.2rem;
		font-family: v.$title-font;
	}
}

.l-footer__copyright{

}
