@use "../foundation/variables" as v;

.l-header {
  overflow-x: hidden;
	position: relative;
  padding: 15px 5.3%;
  width: 100%;
	height: 56px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
	transition: transform 0.3s;
	@include v.mq(lg){
		padding: 15px 2.9%;
		height: 80px;
	}
}


.l-header {
  &__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
		align-items: center;
		@include v.mq(lg){
			justify-content: flex-start;
			align-items: center;
		}
  }
  &__logo {
    width: 38%;
		height: 29px;
		@include v.mq(lg){
			width: unset;
		}
  }
	&__logo-img--b{
		display: none;
	}
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22px;
	@include v.mq(lg){
		display: none;
	}
  &__line {
    display: block;
    width: 90%;
    height: 2px;
    background-color: v.$color-white;
    &:first-of-type {
      transform: translateY(-5px);
			transition: transform .3s;
    }
    &:last-of-type {
			transform: translateY(5px);
			transition: transform .3s;
    }
  }
	&__line--black{
		background-color: v.$color-black;
	}
}

.l-header__gnav {
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  width: 100%;
  overflow-x: hidden;
  padding-top: 56px;
  display: block;
  top: 0;
  left: 0;
  text-align: center;
  background-color: v.$main-secondary;
  @include v.mq(lg) {
    position: static;
    width: unset;
    transform: translateX(0);
    margin-top: 20px;
    padding-top: 0;
    display: block;
    margin-left: 6px;
    background-color: unset;
    height: 100%;
  }
}


.l-header__gnav.ham-open{
	position: fixed;
  transition: transform 0.3s;
  transform: translateX(0);
}

.l-header__gnav__list {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  padding-bottom: 100px;
  height: 100vh;
  width: 100%;
  // align-items: center;
  @include v.mq(lg) {
    width: unset;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    height: 22px;
    flex-direction: row;
  }
}

.l-header__gnav__item {
  border-right: none;
  transform: skew(-40deg);
  padding: 0 18px;
  & + .l-header__gnav__item {
    margin-top: 30px;
  }

  @include v.mq(lg) {
    &:not(:last-of-type) {
      border-right: solid v.$color-white 1px;
    }
    & + .l-header__gnav__item {
      margin-top: 0;
    }
  }
}

.l-header__gnav__item__link {
  display: inline-block;
  text-align: center;
  transform: skew(40deg);
}

.l-header__gnav__text-ja {
  font-size: 1.6rem;
  line-height: 1;
  color: v.$color-white;
}

.l-header__gnav__text-en {
  font-size: 1rem;
  line-height: 1;
  color: v.$color-white;
}

// ハンバーガーメニューオープンのスタイル

.hamburger__open{
	.hamburger__line{
		&:first-of-type {
      transform: translateY(1px) rotate(315deg);
    }
		&:nth-of-type(2){
			display: none;
		}
    &:last-of-type {
      transform: translateY(-1px) rotate(-315deg);
    }
	}
}
