@use "../foundation/variables" as v;

.l-header {
  // position: fixed;
  position: sticky;
  width: 100%;
  // top: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 15px 5.3%;
	@include v.mq(lg){
		padding: 15px 2.9%;
	}
  height: 56px;
	@include v.mq(lg){
		height: 80px;
	}
  transition: transform 0.3s;
}

.fixed {
  position: fixed;
  top: -56px;
  transition: 0.3s;
  background-color: v.$color-white;
	@include v.mq(lg){
		top: -80px;
	}
}
.appear {
	top: 0;
  transition: 0.3s;
}

.l-header {
  &__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
		align-items: center;
		@include v.mq(lg){
		}justify-content: flex-start;
    align-items: center;
  }
  &__logo {
    // width: 32%;
		height: 29px;
		width: 136px;
    // height: 26px;
  }
	&__logo-img--b{
		display: none;
	}
}


.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22px;
	@include v.mq(lg){
		display: none;
	}
  &__line {
    display: block;
    width: 90%;
    height: 2px;
    background-color: v.$color-white;
    &:first-of-type {
      transform: translateY(-5px);
    }
    &:last-of-type {
      transform: translateY(5px);
    }
  }
	&__line--black{
		background-color: v.$color-black;
	}
}
