@use "../foundation/variables" as v;

.p-about {
  position: relative;
  margin-top: 120px;
  padding-bottom: 120px;
  .c-button {
    margin-top: 34px;
  }
}

@include v.mq(lg) {
  .p-about__bg-image {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }

  .p-about__text-content {
    position: absolute;
    top: 6.1%;
    left: 12.8%;
    width: 36.9%;
    background-color: #fff;
    padding: 48px 3.5%;
  }
}

.p-about__bottom-image{
	display: none;
	@include v.mq(lg){
		display: block;
		margin-top: 32px;
	}
}
