@use "../foundation/variables" as v;

.p-about {
  position: relative;
  margin-top: calc(120px - 56px);
  padding-top: 56px;
  @include v.mq(lg) {
    margin-top: calc(50px + 160px - 100px);
    padding-top: 100px;
  }
  .c-button {
    margin-top: 27px;
    @include v.mq(lg) {
      margin-top: 38px;
      margin-left: unset;
    }
  }
  .c-button__text {
    margin-right: 27px;
    letter-spacing: -0.15em;
    @include v.mq(lg) {
      margin-right: 16px;
      letter-spacing: 0em;
    }
  }
}

.p-about__text-content {
  .c-section__heading-block {
    margin-top: 26px;
  }
  .c-section__desc {
    margin-top: 11px;
    @include v.mq(lg) {
      margin-top: 24px;
    }
  }
}

@include v.mq(lg) {
  .p-about__bg-image {
    height: 656px;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
		picture{
			height: 100%;
		}
		img{
			max-width: unset;
			height: 100%;
		}
  }

  .p-about__text-content {
    position: absolute;
    top: 18.1%;
    left: 12.8%;
    width: 36.9%;
    background-color: #fff;
    padding: 15px 3.5% 46px;
		@include v.mq(lg){
			min-width: 460px;
		}
  }
}

.p-about__bottom-image {
  display: none;
  @include v.mq(lg) {
    display: block;
    margin-top: 32px;
  }
}
