@use "../foundation/variables" as v;

.g-nav {
  position: absolute;
  transform: translateX(100%);
  transition: transform 0.3s;
  width: 100%;
  overflow-x: hidden;
  padding-top: 56px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  text-align: center;
  background-color: v.$main-secondary;

  @include v.mq(lg) {
    position: static;
    width: unset;
    transform: translate(0);
		margin-top: 20px;
    padding-top: 0;
    display: block;
    margin-left: 6px;
    background-color: unset;
		height: 100%;
  }
}

.g-nav.ham-open {
  transition: transform 0.3s;
  transform: translateX(0);
}

.g-nav__list {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
  // align-items: center;
  @include v.mq(lg) {
    width: unset;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    height: 22px;
    flex-direction: row;
  }
}

.g-nav__item {
  border-right: none;
  transform: skew(-40deg);
  padding: 0 18px;
  & + .g-nav__item {
    margin-top: 30px;
  }

  @include v.mq(lg) {
		&:not(:last-of-type) {
			border-right: solid v.$color-white 1px;
    }
		& + .g-nav__item {
			margin-top: 0;
		}
  }
}

.g-nav__item__link {
  display: inline-block;
  text-align: center;
  transform: skew(40deg);
}

.g-nav__text-ja {
  font-size: 1.6rem;
  line-height: 1;
  color: v.$color-white;
}

.g-nav__text-en {
  font-size: 1rem;
  line-height: 1;
  color: v.$color-white;
}
