@use "../foundation/variables" as v;

.p-mv {
	position: relative;
  padding-top: 56px;
  // background-color: v.$main-primary;
  background-image: -moz-linear-gradient(
    0deg,
    rgb(75, 108, 183) 0%,
    rgb(24, 40, 72) 100%
  );
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(75, 108, 183) 0%,
    rgb(24, 40, 72) 100%
  );
  background-image: -ms-linear-gradient(
    0deg,
    rgb(75, 108, 183) 0%,
    rgb(24, 40, 72) 100%
  );

  color: v.$color-white;
}

.p-mv__bg {
  background-image: url(../images/SP-assets/top-image-1.png);
  background-size: cover;
  height: 611px;
  padding: 112px 5.1% 0;
}

.p-mv {
  &__heading {
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 0.96px;
    text-align: left;
    color: #fff;
		text-shadow: 4.243px 4.243px 4px rgba(24, 40, 72, 0.5);
  }
  &__sub-heading__wrapper {
    margin-top: 18px;
  }
  &__sub-heading {
    height: 36px;
    background-color: v.$color-white;
    display: inline-block;
    transform: skew(-30deg);
		filter: drop-shadow(3px 2px 0px #182848);

		&:nth-of-type(2){
			margin-top: 12px;
		}
    &__skew-box {
      display: inline-block;
      transform: skew(30deg);
    }
    &__text {
			padding-left: 22px;
			padding-right: 27px;
			color: v.$main-primary;
      font-family: NotoSansJP;
      font-size: 1.95rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 36px;
      letter-spacing: normal;
      text-align: left;

    }
  }
}

.p-mv__news-container{
	width: 92%;
	position: absolute;
	bottom: 26px;
}

.p-mv__news-title{
	display: inline-block;
	background-color: v.$main-primary;
	padding: 2px 13px;
	clip-path: polygon(100% 0, 0 0, 0 80%, 100% 100%);
}

.p-mv__headline {
	background-color: v.$color-white;
  height: 48px;
  padding: 14px 2.4%;
  border: solid 1px #182848;
	// font
	// font-family: NotoSansJP;
  font-size: 1.4rem;
  text-align: left;
  color: v.$main-primary;
	display: flex;
	align-items: center;
	justify-content: space-between;
	span{
		display: inline-block;
	}
	&__tag{
		// width: 65px;
		// height: 20px;
		margin: 0 8px 0 6px;
		padding: 1px 5px;
		border-radius: 8.1px;
		background-color: #b8614b;
		color: v.$color-white;
		font-size: 1.2rem;
	}
}
