@use "../foundation/variables" as v;

.p-recruit {
  padding-top: 56px;
  margin-top: calc(104px - 56px);
  @include v.mq(lg) {
    margin-top: calc(158px - 80px);
    padding-top: calc(75px + 80px);
    padding-bottom: 160px;
    background-color: #f0f0f0;
    .c-section__heading-block {
      justify-content: center;
    }
  }
  .c-button {
    margin-top: 42px;
    width: 68%;
    @include v.mq(lg) {
      margin-top: 62px;
      width: 18.5%;
    }
  }
  .c-button__text {
    margin-right: 8px;
    @include v.mq(lg) {
      margin-right: 18px;
    }
  }
}

.p-recruit__menu-list {
  margin-top: 20px;
  @include v.mq(lg) {
    display: flex;
    justify-content: center;
    gap: 2.6%;
    // gap: 36px;
    margin-top: 50px;
    margin-left: -10px;
  }
}

.p-recruit__item {
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding: 168px 0 16px 21px;
  @include v.mq(lg) {
    width: 22.8%;
    width: 312px;
    height: 240px;
    padding-top: 206px;
  }
  &:first-of-type {
    background-image: url(../assets/images/SP-assets/image-recruit-1.jpg);
    @include v.mq(lg) {
      background-image: url(../assets/images/PC-assets/image-recruit-1.jpg);
      margin-top: 80px;
      // transform: translateY(80px);
    }
  }
  &:nth-of-type(2) {
    background-image: url(../assets/images/SP-assets/image-recruit-2.jpg);
    @include v.mq(lg) {
      background-image: url(../assets/images/PC-assets/image-recruit-2.jpg);
      // transform: translateY(40px);
      margin-top: 40px;
    }
  }
  &:nth-of-type(3) {
    background-image: url(../assets/images/SP-assets/image-recruit-3.jpg);
    @include v.mq(lg) {
      background-image: url(../assets/images/PC-assets/image-recruit-3.jpg);
    }
  }

  &__heading {
    width: 100%;
    margin: 0 10px 0 0;
    font-size: 1.6rem;
    line-height: 1;
    text-align: left;
    color: v.$color-white;
    @include v.mq(lg) {
      width: 90%;
      height: 56px;
      line-height: 56px;
      padding-left: 16px;
      padding-right: 16px;
      transform: translateX(14%);
      background-color: rgba(24, 40, 72, 0.64);
      display: flex;
      align-items: center;
      justify-content: space-between;
      &::after {
        content: "";
        display: block;
        background-image: url(../assets/images/arrow.png);
        background-size: cover;
        width: 16px;
        height: 5px;
      }
    }
  }
}
