@use "../foundation/variables" as v;

.p-services {
  margin-top: 120px;
	.c-button{
		margin-top: 36px;
	}
}

.p-services__content {
	padding-bottom: 26px;
  background: linear-gradient(
    115deg,
    #f0f0f0 0%,
    #f0f0f0 60%,
    white 60%,
    white 60%,
    white 90%,
    #f0f0f0 90%
  );
}

.p-services__text-content {
  margin-top: 40px;
}
