@use "../foundation/variables" as v;

.p-works {
  margin-top: (120px - 56px);
  padding-top: 56px;
  @include v.mq(lg) {
    margin-top: calc(154px - 80px);
    padding-top: 80px;
  }

  .c-button {
    margin-top: 33px;
    width: 68.5%;
    @include v.mq(lg) {
      margin-top: 37px;
      width: 19%;
    }
  }
  .c-button__text {
    margin-right: 8px;
    @include v.mq(lg) {
      margin-right: 16px;
    }
  }
}

.p-works__article-block {
  margin-top: 34px;
  @include v.mq(lg) {
    margin-top: 46px;
    margin-left: 9px;
  }
}

.p-works__content {
  padding-top: 15px;
  padding-bottom: 41px;
  background: linear-gradient(
    115deg,
    #f0f0f0 0%,
    #f0f0f0 12%,
    white 12%,
    white 12%,
    white 88%,
    #f0f0f0 88%
  );
  @include v.mq(lg) {
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(
      49deg,
      #f0f0f0 0%,
      #f0f0f0 17%,
      white 17%,
      white 17%,
      white 82.5%,
      #f0f0f0 82.5%
    );
  }
}

.p-works__text-content {
  .c-section__title {
    margin-top: 12px;
  }
  .c-section__desc {
    margin-top: 12px;
  }
  @include v.mq(lg) {
    .c-section__title {
      margin-top: 26px;
    }
    .c-section__desc {
      margin-top: 24px;
    }
  }
}

//タイトルブロックPCスタイル画面では中央よせ
@include v.mq(lg) {
  .p-works {
    .c-section__heading-block {
      justify-content: center;
    }
    .c-section__title,
    .c-section__desc {
      text-align: center;
    }
  }
}

// list-item PCでは横並び　影付き
@include v.mq(lg) {
  .p-works__list {
    display: flex;
    justify-content: center;
    gap: 2.9%;
  }
}

.p-works__image-ballet {
  height: 160px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  @include v.mq(lg) {
    height: 240px;
    align-items: flex-start;
  }
}

.p-works__number {
  width: 64px;
  height: 40px;
  @include v.mq(lg) {
    width: 56px;
    height: 56px;
    transform: translate(-30%, -30%);
  }
  background-color: v.$main-primary;
  // font-family: Lato;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: v.$color-white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-works__item {
  @include v.mq(lg) {
    width: 34.6%;
    padding-bottom: 36px;
    box-shadow: 0px 0px 10px 0px rgba(25, 25, 25, 0.25);
    background-color: v.$color-white;
  }
  &:first-of-type {
    .p-works__image-ballet {
      background-image: url(../assets/images/SP-assets/image-works-1.jpg);
      @include v.mq(lg) {
        background-image: url(../assets/images/PC-assets/image-works-1.jpg);
      }
    }
  }
  &:last-of-type {
    margin-top: 30px;
    @include v.mq(lg) {
      margin-top: 0;
    }
    .p-works__image-ballet {
      background-image: url(../assets/images/SP-assets/image-works-2.jpg);
      @include v.mq(lg) {
        background-image: url(../assets/images/PC-assets/image-works-2.jpg);
      }
    }
  }
}

.p-works__item {
  &__heading {
    margin-top: 23px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    color: v.$accent-primary;
    @include v.mq(lg) {
      margin-top: 30px;
      font-size: 2.4rem;
    }
  }
  &__desc {
    margin-top: 17px;
    font-size: 1.4rem;
    line-height: 2;
    letter-spacing: 0.28px;
    color: v.$color-black;
    @include v.mq(lg) {
      margin-top: 20px;
      font-size: 1.6rem;
      letter-spacing: 0;
    }
  }
}
