@use "../foundation/variables" as v;

.c-button {
  display: inline-block;
  width: 76.5%;
  @include v.mq(lg) {
    width: 256px;
    height: 64px;
  }
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  background-color: v.$main-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 2px 2px rgba(24, 40, 72, 0.5));
  &::after {
    content: "";
    background-image: url(../assets/images/arrow.png);
    background-size: contain;
    width: 18px;
    height: 6px;
  }
  &__text {
    margin: 0 18px 0 0;
    font-family: NotoSansJP;
    font-size: 14px;
    line-height: 1;
    text-align: left;
    color: v.$color-white;
    @include v.mq(lg) {
      font-size: 1.6rem;
    }
  }
}

.c-button--pc-align-left {
  @include v.mq(lg) {
    margin-left: unset;
  }
}
